@model IEnumerable<DrzewicaCraft.Entities.Photo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Lista Zdjęć</h2>


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@if (Model != null)
{
    <section class="main">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <h4>@Html.DisplayFor(model => item.Name)</h4>
                @using (Html.BeginForm("Details", "Photos",FormMethod.Post, new { id = item.Id }))
                {
                    if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="@Url.Content(item.ImagePath)" alt="No Image Found" style="display: block; width: 20%"/>
                    }
                }
                @*<p>@Html.ActionLink("Detale", "Details", new { id = item.Id })</p>*@
            </div>
        }
    </section>

}
else
{
    @Html.Raw("Przykro nam... obecnie nie posiadamy żadnych zdjęć.");
}