@model IEnumerable<DrzewicaCraft.Models.NewsViewModels>

@{
    ViewBag.Title = "Aktualności";
}

<h2 style="text-align: center">Aktualności</h2>

<section class="main">
    <p style="text-align: center">
        @Html.ActionLink("Utwórz nowy wpis", "Create")
    </p>
    
    <div class="newsContainer">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="newsTemplate">
                    <header class="newsTitle">@item.Title</header>                  
                    <div class="newsDesc">@item.Description</div>
                    <div class="newsTime">@item.DateTime</div>
                    <div class="newsAuthor">Autor</div>
                </div>
            }
        }
        else
        {
            @Html.Raw("Przykro nam, ale obecnie nie ma żadnych aktualności.");
        }
    </div>

</section>


