<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DrzewicaCraft</title>
    <meta name="description" content="DrzewicaCraft to projekt budowlany mający na celu odzwierciedlenie miasta Drzewica w popularnej grze komputerowej - Minecraft">
    <meta name="keywords" content="Drzewica,DrzewicaCraft,Minecraft,Projekt,Budowlany,Gra,Gry,Zagraj,Odwiedź,Zobacz,pixel,Craft,craft,mine,zbudowane,miasto,project,game,games,building,city"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="landing">
<div id="page-wrapper">

    <!--v class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="~/"><img src="../../Images/DrzewicaCraftV2-NoBackground.png" height="64" width="64" alt="NoLogoFound"/></a>
            @*@Html.ActionLink("DrzewicaCraft", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Aktualności","Index","News")</li>
                    <li>@Html.ActionLink("Zdjęcia","Index","Photo")</li>
                    <li>@Html.ActionLink("O projekcie", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>*@
            </ul>
            @*@Html.Partial("_LoginPartial")*@
        </div>
    </div>
    </div>-->

    <header id="header" class="alt">
        <h1>
            <a href="~/"><img src="~/Content/HerbCraft.png" alt="NoLogoFound"/></a>
        </h1>
        <nav>
            <ul>
                @*<li>@Html.Label("Kontkat", new {onclick = "contact()", style = "color: #555"})</li>*@
                @*<li><a style="color: #555" onclick="contact()">Kontakt</a></li>*@
                @*<li>@Html.ActionLink("Aktualności", "Index", "News", null, new { style = "color: #555" })</li>
                    <li>@Html.ActionLink("Zdjęcia", "Index", "Photo", null, new { style = "color: #555" })</li>*@

                @*TODO: Po naciśnięciu przycisku Kontakt, strona powinna zjechać na dół i pokazać dane kontaktowe. (JavaScript)*@

                @*<li>@Html.ActionLink("O Projekcie", "About", "About", new { style = "color: #555" })</li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home", new { style = "color: #555" })</li>*@
            </ul>
        </nav>

    </header>

    @RenderBody()
    @*<hr />*@
    <footer id="footer">
        Chcesz się z nami skontakować? Napisz do nas na Facebooku!
        <ul class="icons">
            <li><a href="https://www.facebook.com/DrzewicaCraft" class="icon fa-facebook"><span class="label">Facebook</span>DrzewicaCraft</a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; @DateTime.Now.Year - DrzewicaCraft</li>
        </ul>
    </footer>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>

<script>
    //$("a").click(function() {
    //    $('html,body').animate({
    //    scrollTop: $("footer").offset().top},'slow');
    //});

    function contact() {
        $('html,body').animate({
                scrollTop: $("footer").offset().top}, 1300);
    };
</script>